*{
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.tab{
	width: 100%;
}

.tablinks{
	border: none;
	background-color: white;
	margin-right: 20px;
	height: 5vh;
	width: 12vw;
	cursor: pointer;
	transition: 0.3;
}


.active{
	border-bottom: 2px solid black;
}

.content{
	display: none;
	border-radius: 10px;
	padding: 10%;
	background-color: black;
	color: white;
	text-align: center;
}
