*{
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.tab{
	width: 100%;
}

.tab button{
	border: none;
	border-bottom: 2px solid black;
	background-color: white;
	margin-right: 10px;
	height: 5vh;
	width: 15vw;
}

ul{
	display: flex;
	justify-content: flex-start;
	justify-content: space-around;
	padding-left: 0;
}

li{
	list-style: none;
}

li a{
	color: black;
	text-decoration: none;
}

.content{
	border-radius: 10px;
	padding: 10%;
	background-color: black;
	color: white;
	text-align: center;
}